@keyframes noise-anim {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

@keyframes noise-anim-2 {
    $steps: 20;
    @for $i from 0 through $steps {
        #{percentage($i*(1/$steps))} {
            clip: rect(random(100)+px, 9999px, random(100)+px, 0);
        }
    }
}

//mixin
@mixin button-call-to-action1 ($color, $hover) {
    border-radius: 10px;
    background-color: $color;
    color: $black_primary;
    outline: none;
    border: none;
    width: 100px;
    padding: 5px;
    &:hover {
        background: $hover;
        color: $color;
    }
}

@mixin button-call-to-action2 ($background-btn, $size, $color, $border, $background) {
    border: 1px solid $border;
    background: $background-btn;
    padding: 5px 8px 5px 8px;
    border-radius: 5px;
    color: $color;
    width: $size;
    &:hover {
        color: $white2;
        background: $background;
    }
}

.glitch {
    color: $white;
    position: relative;
    font-size: 18px;
    font-family: earlyMan;
    font-weight: 500;
}

.glitch:after {
    content: attr(data-text);
    position: absolute;
    left: 2px;
    text-shadow: -1px 0 red;
    top: 0;
    color: $white;
    background: transparent;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim 2s infinite linear alternate-reverse;
}

.glitch:before {
    content: attr(data-text);
    position: absolute;
    left: -2px;
    text-shadow: 1px 0 blue;
    top: 0;
    color: $white;
    background: transparent;
    overflow: hidden;
    clip: rect(0, 900px, 0, 0);
    animation: noise-anim-2 3s infinite linear alternate-reverse;
}