$white:#f2f2f2;
$white2:#F0F0F2;
$black_primary:#0d0d0d;
$black_secundary: #000000;
$black_ternary:#1A1B1C;
$grey:#9799A6;
$green:#188C62;
$green2:#03A65A;
$yellow:#F2AE30;
$purple:#3D2DA6;
$purple2:#5C51A6;
$blue: #1E82D9;
@font-face {
    font-family: 'DOCALLISME';
    src: url('../fonts/DOCALLISME\ ON\ STREET.ttf');
}